@function rem($px) {
	$pxToRem: ($px/16) + rem;
	@return $pxToRem;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin flex-h-center {
	display: flex;
	align-items: center;
}
@mixin flex-v-center {
	display: flex;
	justify-content: center;
}

@mixin desktop {
	@media (min-width: 1440px) {
		@content;
	}
}

@mixin font-bold {
	font-family: Outfit, sans-serif;
	font-weight: 700;
	font-size: rem(22);
}
@mixin font-base {
	font-family: Outfit, sans-serif;
	font-weight: 400;
	font-size: rem(15);
	letter-spacing: 0.19px;
}
