@font-face {
	font-family: Outfit;
	src: url(fonts/Outfit-VariableFont_wght.ttf);
}

$primary: hsl(218, 44%, 22%);
$secondary: hsl(220, 15%, 55%);
$bg-color: hsl(212, 45%, 89%);
$white: hsl(0, 0%, 100%);
